<% include ../partials/header %>

<!-- <div class="ui container">
	<%= JSON.stringify([profile, topArtists, topTracks]) %>
</div> -->

<% console.log(profile, topArtists, topTracks) %>

<div class="ui relaxed grid container">
	<div class="sixteen wide six wide computer column">
		<div class="user-profile">
			<div class="ui items">
				<div class="item">
					<div class="image">
							<% if (profile.images.length > 0) { %>
								<img id="profile-img" src="<%= profile.images[0].url %>" alt="">
							<% } %>
					</div>
					<div class="content">
						<a href="" class="header"><%= profile.display_name || profile.id %></a>
						<div class="meta">
								<span><%= profile.followers.total %> followers</span>
						</div>
						<div class="description">
							<p><a href="<%= profile.external_urls.spotify %>" target="_blank">View My Profile</a></p>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- end user-profile -->
	</div> <!-- end first column -->
	<div class="eight wide mobile five wide computer column">
		<div class="top-artists">
			<div class="ui accordion">
				<div class="title">
					<i class="dropdown icon"></i>
					<span class="ui medium header">Top Artists</span>
				</div>
				<div class="content">
					<div class="transition hidden ui divided items">
						<% topArtists.items.forEach((item, index) => { %>
							<div class="item">
								<div class="image">
									<% if (item.images.length > 0) { %>
										<img src="<%= item.images[0].url %>" alt="">
									<% } %>
								</div>
								<div class="content">
									<!-- URI to artist expected to be in the format of spotify:artist:artistId -->
									<% let artistUrl = item.external_urls.spotify; %>
									<a href="<%= artistUrl %>" class="header"><%= item.name %></a>
									<div class="meta">
										<!-- Build the Genres string -->
										<span>
											<% let genres = item.genres.reduce((acc, curr) => acc + ', ' + curr, ''); %>
											<% if (genres) genres = genres.slice(genres.indexOf(',') + 2); %>
											<%= genres %>
										</span>
									</div>
									<div class="description">
										<p>Followers: <%= item.followers.total %></p>
										<p>Popularity:</p>
										<div class="ui yellow disabled progress" data-percent="<%= item.popularity %>">
												<div class="bar"></div>
										</div>
									</div>
									<div class="extra">
										<i class="trophy icon"></i>No. <%= index + 1 %>
									</div>
								</div>
							</div>
						<% }); %>
					</div>
				</div>
			</div>
		</div> <!-- end top artists -->
	</div> <!-- end second column-->
	<div class="eight wide mobile five wide computer column">
		<div class="top-tracks">
			<div class="ui accordion">
				<div class="title">
					<i class="dropdown icon"></i>
					<span class="ui medium header">Top Tracks</span>
				</div>
				<div class="content">
					<div class="transition hidden ui divided items">
						<% topTracks.items.forEach((item, index) => { %>
							<div class="item">
								<div class="image">
									<% if (item.album.images.length > 0) { %>
										<img src="<%= item.album.images[0].url %>" alt="">
									<% } %>
								</div>
								<div class="content">
									<!-- URI to track expected to be in the format of spotify:track:trackId -->
									<% let trackUrl = item.external_urls.spotify; %>
									<a href="<%= trackUrl %>" class="header"><%= item.name %></a>
									<div class="meta">
										<!-- Build the Artists string -->
										<span>
											<% let artists = item.artists.reduce((acc, curr) => acc + ', ' + curr.name, ''); %>
											<% if (artists) artists = artists.slice(artists.indexOf(',') + 2); %>
											<%= artists %>
										</span>
									</div>
									<div class="description">
										<p>Popularity:</p>
										<div class="ui orange disabled progress" data-percent="<%= item.popularity %>">
											<div class="bar"></div>
										</div>
										<div class="extra">
											<i class="headphones icon"></i>No. <%= index + 1 %>
										</div>
									</div>
								</div>
							</div>
						<% }); %>
					</div>
				</div>
			</div>
		</div> <!-- end top tracks -->
	</div> <!-- end third column-->
</div><!-- end container grid-->

<script>	
	$('.ui.accordion').accordion('open', 0);
	$('.ui.progress').progress();
</script>

<% include ../partials/footer %>