<% const showStyles = ['<link rel="stylesheet" type="text/css" href="/stylesheets/users/show.css">']; %>

<%- include('../partials/header', {stylesheets: showStyles}); %>

<% const timeRange = request.query.time_range; %>
<% const getActivityLevel = range => { %> 
	<% if (!timeRange && range === 'short_term') {  %>
		<% return 'active section'; %>
	<% } else { %>
		<% return timeRange === range ? 'active section' : 'section'; %>
	<% } %>
<% }; %>

<div class="ui relaxed grid container">
	<div id="breadcrumb-container" class="sixteen wide column">
		<div class="ui breadcrumb">
			<a href="?time_range=short_term" class="<%= getActivityLevel('short_term') %>">Last Four Weeks</a>
			<div class="divider"> / </div>
			<a href="?time_range=medium_term" class="<%= getActivityLevel('medium_term') %>">Last Six Months</a>
			<div class="divider"> / </div>
			<a href="?time_range=long_term" class="<%= getActivityLevel('long_term') %>">The Beginning of Time</a>
		</div>
	</div><!-- end first column -->
	<div class="sixteen wide mobile six wide computer column">
		<div class="ui grid">
			<div class="sixteen wide mobile eight wide tablet sixteen wide computer column">
				<div class="user-profile">
					<div class="ui items">
						<div class="item">
							<div class="image">
								<% if (profile.images.length > 0) { %>
									<img src="<%= profile.images[0].url %>" alt="">
								<% } %>
							</div>
							<div class="content">
								<span class="header"><%= profile.display_name || profile.id %></span>
								<div class="meta">
									<span><%= profile.followers.total %> followers</span>
								</div>
								<div class="description">
									<a href="<%= profile.external_urls.spotify %>" target="_blank">
										<button class="ui black button">
											<i class="spotify icon"></i>
											Follow
										</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- end user-profile -->
			</div><!-- end first nested column-->
			<div class="sixteen wide mobile eight wide tablet sixteen wide computer column">
				<div class="audio-features">
					<% if (audioFeatures) { %>
						<div class="ui mini statistics">
							<div class="statistic">
								<div class="value">
									<%= audioFeatures.features.duration_string %>
								</div>
								<div class="label">
									Average Track Duration
								</div>
							</div>
							<div class="statistic">
								<div class="value">
									<%= Math.round(audioFeatures.features.tempo) %> BPM
								</div>
								<div class="label">
									Average Track Tempo
								</div>
							</div>
							<div class="statistic">
								<div class="value">
									<div class="ui large horizontal divided list">
										<% audioFeatures.tonality.keys.forEach(key => { %>
											<div class="item">
												<div class="content">
													<div class="header"><%= key.tone %></div>
												</div>
											</div>
										<% }); %>
									</div>
								</div>
								<div class="label">
									Favorite Keys
								</div>
							</div>
							<div class="statistic">
								<div class="value">
									<%= audioFeatures.tonality.mode %>
								</div>
								<div class="label">
									Favorite Mode
								</div>
							</div>
						</div>
						<h3 class="ui header">LIKES</h3>
						<div class="ui big list">
							<% if (audioFeatures.features.acousticness > 0.5) { %>
								<div class="item">acoustic</div>
							<% } %>
							<% if (audioFeatures.features.danceability > 0.5) { %>
								<div class="item">danceability</div>
							<% } %>
							<% if (audioFeatures.features.energy > 0.5) { %>
								<div class="item">high energy</div>
							<% } else { %>
								<div class="item">low energy</div>	
							<% } %>
							<% if (audioFeatures.features.instrumentalness > 0.5) { %>
								<div class="item">instrumentals</div>
							<% } %>
							<% if (audioFeatures.features.liveness > 0.5) { %>
								<div class="item">live audio</div>
							<% } %>
							<% if (audioFeatures.features.loudness > -30) { %>
								<div class="item">loudness</div>
							<% } %>
							<% if (audioFeatures.features.valence > 0.5) { %>
								<div class="item">happy / cheerful / euphoric</div>
							<% } else { %>
								<div class="item">sad / depressive / angry</div>
							<% } %>
						</div>
					<% } %>
				</div><!-- end audio-features-->
			</div><!-- end second nested column-->
		</div><!-- end nested grid-->
	</div> <!-- end second column -->
	<div class="eight wide mobile five wide computer column">
		<div class="top-artists">
			<div class="ui accordion">
				<div class="title">
					<i class="dropdown icon"></i>
					<span class="ui medium header">Top Artists</span>
				</div>
				<div class="content">
					<div class="transition hidden ui divided items">
						<% topArtists.items.forEach((item, index) => { %>
							<div class="item">
								<div class="image">
									<% if (item.images.length > 0) { %>
										<img src="<%= item.images[0].url %>" alt="">
									<% } %>
								</div>
								<div class="content">
									<!-- URI to artist expected to be in the format of spotify:artist:artistId -->
									<% let artistUrl = item.external_urls.spotify; %>
									<a href="<%= artistUrl %>" class="header" target="_blank"><%= item.name %></a>
									<div class="meta">
										<!-- Build the Genres string -->
										<span>
											<% let genres = item.genres.reduce((acc, curr) => acc + ', ' + curr, ''); %>
											<% if (genres) genres = genres.slice(genres.indexOf(',') + 2); %>
											<%= genres %>
										</span>
									</div>
									<div class="description">
										<p>Followers: <%= item.followers.total %></p>
										<p>Popularity:</p>
										<div class="ui yellow disabled progress" data-percent="<%= item.popularity %>">
												<div class="bar"></div>
										</div>
									</div>
									<div class="extra">
										<i class="trophy icon"></i>No. <%= index + 1 %>
									</div>
								</div>
							</div>
						<% }); %>
					</div>
				</div>
			</div>
		</div> <!-- end top artists -->
	</div> <!-- end third column-->
	<div class="eight wide mobile five wide computer column">
		<div class="top-tracks">
			<div class="ui accordion">
				<div class="title">
					<i class="dropdown icon"></i>
					<span class="ui medium header">Top Tracks</span>
				</div>
				<div class="content">
					<div class="transition hidden ui divided items">
						<% topTracks.items.forEach((item, index) => { %>
							<div class="item">
								<div class="image">
									<% if (item.album.images.length > 0) { %>
										<img src="<%= item.album.images[0].url %>" alt="">
									<% } %>
								</div>
								<div class="content">
									<!-- URI to track expected to be in the format of spotify:track:trackId -->
									<% let trackUrl = item.external_urls.spotify; %>
									<a href="<%= trackUrl %>" class="header" target="_blank"><%= item.name %></a>
									<div class="meta">
										<!-- Build the Artists string -->
										<span>
											<% let artists = item.artists.reduce((acc, curr) => acc + ', ' + curr.name, ''); %>
											<% if (artists) artists = artists.slice(artists.indexOf(',') + 2); %>
											<%= artists %>
										</span>
									</div>
									<div class="description">
										<p>Popularity:</p>
										<div class="ui orange disabled progress" data-percent="<%= item.popularity %>">
											<div class="bar"></div>
										</div>
										<div class="extra">
											<i class="headphones icon"></i>No. <%= index + 1 %>
										</div>
									</div>
								</div>
							</div>
						<% }); %>
					</div>
				</div>
			</div>
		</div> <!-- end top tracks -->
	</div> <!-- end fourth column-->
</div><!-- end container grid-->

<% const setShowUi = `
<script>
	// Open accordions	
	$('.ui.accordion').accordion('open', 0);
	// Initialize the progress bars
	$('.ui.progress').progress();
</script>`; %>

<%- include('../partials/footer', {scripts: [setShowUi]}) %>